/*Colors*/
html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #2b2a2c;
}
a {
  text-decoration: none;
}
p {
  margin: 0 0 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/*Blocks*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 0;
}
.header {
  padding: 18px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
}
.user__avatar {
  width: 60px;
  height: 60px;
}
.user__avatar img {
  border-radius: 50%;
}
.user__content {
  padding-left: 9px;
}
.user__name {
  font-size: 18px;
  color: #2b2a2c;
  line-height: 1.2;
  font-weight: 700;
}
.user__prof {
  font-size: 16px;
  color: rgba(43, 42, 44, 0.7);
}
.nav {
  display: flex;
  height: 100%;
  align-items: center;
}
.nav__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #2b2a2c;
  font-weight: bold;
  margin-left: 30px;
  border-radius: 20px;
  transition: border-color 0.1s linear;
}
.nav__link:after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #2b2a2c;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  transition: width .2s linear;
}
.nav__link:hover:not(.nav__link--btn):after {
  width: 100%;
}
.nav__link--btn {
  padding: 5px 25px ;
  border: 2px solid #2b2a2c;
  border-radius: 20px;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.nav__link--btn:hover {
  background-color: #2b2a2c;
  color: #ffffff;
}
.intro__inner {
  display: flex;
  padding-top: 100px;
  border-bottom: 1px solid rgba(106, 105, 107, 0.3);
  padding-bottom: 120px;
  background: url('/img/photo/1.png') right top no-repeat;
}
.intro__content {
  width: 50%;
}
.intro__photo {
  width: 50%;
}
.intro__subtitle {
  font-size: 32px;
  font-weight: 200;
  font-family: 'Montserrat';
  color: #2b2a2c;
}
.intro__title {
  font-size: 45px;
  font-weight: 700;
  color: #2b2a2c;
  margin-bottom: 5px;
}
.intro__text {
  font-size: 18px;
  color: rgba(43, 42, 44, 0.7);
  margin-bottom: 20px;
}
.social {
  margin-bottom: 42px;
  display: flex;
}
.social__link {
  margin-right: 10px;
  transition: transform .2s linear;
}
.social__link:hover {
  transform: translateY(-5px);
}
.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  color: #6a696b;
  line-height: 1.1;
  text-transform: uppercase;
  min-width: 200px;
  text-align: center;
  margin-right: 20px;
  padding: 15px 27px;
  font-weight: bold;
  border: 1px #2b2a2c solid;
  border-radius: 30px;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
}
.btn:hover {
  background-color: #2b2a2c;
  color: #ffffff;
  box-shadow: 2px 2px 10px rgba(43, 42, 44, 0.24);
}
.work--btn {
  color: #2b2a2c;
  font-size: 18px;
  margin-bottom: 125px;
}
.btn--about {
  margin-top: 60px;
}
.works {
  padding: 20px 0;
}
.works__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.works__nav--link {
  font-size: 15px;
  color: rgba(43, 42, 44, 0.7);
  margin-left: 30px;
}
.works__nav--link:hover {
  text-decoration: underline;
}
.works__nav--link:first-child {
  margin-left: 0;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio__col {
  flex-basis: 33.33333%;
  padding: 20px;
}
.portfolio__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio__item {
  box-shadow: 0 0 4px rgba(43, 42, 44, 0.25);
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.1s linear;
}
.portfolio__item:hover {
  cursor: pointer;
  box-shadow: 2px 2px 9px rgba(43, 42, 44, 0.5);
}
.portfolio__item--content {
  margin: 10px 20px;
}
.portfolio__cat {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.portfolio__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.portfolio__date {
  font-weight: 700;
}
.title__block {
  display: flex;
  justify-content: space-between;
}
.about {
  margin-bottom: 140px;
}
.inner__about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__info {
  width: 50%;
}
.about__subtitle {
  color: #2b2a2c;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
}
.about__title {
  color: #6a696b;
  font-size: 92px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: .2;
  margin-bottom: 20px;
}
.about__text {
  font-size: 12px;
  line-height: 2.4;
  color: #6a696b;
  opacity: .9;
}
.reviews {
  position: relative;
  padding: 4.6rem 0;
  background: #332f30 url('/img/photo/back.png') no-repeat center;
}
.reviews__item {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
}
.reviews__text {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 2.2;
}
.reviews__author {
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: -51px;
}
.reviews__author img {
  margin-bottom: 0.6rem;
}
.reviews__company {
  font-size: 15px;
  font-style: italic;
  color: #6a696b;
}
.reviews__photo {
  display: block;
  margin: 0 auto;
  width: 103px;
  height: 103px;
  border-radius: 50%;
  border: 4px solid #efefef;
}
.reviews__name {
  font-size: 1.06rem;
  color: #2b2a2c;
  font-weight: 700;
}
.reviews__star {
  width: 15px;
  height: 15px;
  margin-top: 5px;
}
.news {
  margin-top: 14rem;
}
.news__header {
  text-align: center;
  margin-bottom: 60px;
}
.news__title {
  font-size: 3rem;
  text-transform: uppercase;
  color: #2b2a2c;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.news__text {
  color: #8d8d8e;
  font-weight: 300;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.articles__col {
  width: 33.33333%;
  padding: 0 1rem;
}
.articles__header {
  position: relative;
  margin-bottom: 1.3rem;
}
.articles__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}
.articles__title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.articles__cat {
  font-size: 0.8rem;
  color: #2b2a2c;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.articles__text {
  color: #6a696b;
  font-size: 0.8rem;
  line-height: 2;
  font-weight: 300;
}
.articles__date {
  width: 77px;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 1.7;
  display: flex;
  font-weight: 700;
  justify-content: center;
  z-index: 1;
  align-items: center;
  height: 77px;
  background-color: #2b2a2c;
}
.articles__photo {
  display: block;
  max-width: 100%;
  height: auto;
}
.news {
  margin-bottom: 8rem;
}
.news__footer {
  text-align: right;
}
.news__link {
  font-size: .94rem;
  color: #6a696b;
  text-decoration: underline;
}
.news__link:hover {
  text-decoration: none;
}
.footer {
  padding: 1.35rem 0;
  background-color: #2b2a2c;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  font-size: 14px;
  padding-right: 0.8rem;
  margin-right: 1rem;
  font-weight: 400;
  color: #8d8d8e;
  border-right: 1px solid #6a696b;
}
.footer__credits {
  display: flex;
  align-items: center;
}
.footer__social {
  display: flex;
  align-items: center;
}
.footer__social a {
  margin-right: 1.2rem;
}
.footer__nav--link {
  color: #8d8d8e;
}
.footer__nav--link--btn {
  border: 1px solid #6a696b;
  border-radius: 20px;
  padding: 7px 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.footer__nav--link--btn:hover {
  background-color: #6a696b;
  color: #2b2a2c;
}
.footer__nav {
  font-size: 0.94rem;
}
.footer__nav a {
  margin-right: 9px;
}
.footer__nav a:hover:not(.footer__nav--link--btn) {
  text-decoration: underline;
}
